:root {
  font-size: 62.5%;
  --black: #000;
  --light-red: #dc4e3f;
  --light-black: #1c1c1cca;
  --grey: #f5f5f5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
#main {
}
#header {
  width: 100%;
  height: 136px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}
#header .container {
}
/* start header_top */
.header_top {
  margin: 0 auto;
  width: 120rem;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--grey);
}
.header_top-text {
  height: 100%;
  width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_top .hotline {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}
.header_top .number-phone {
  text-decoration: none;
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
}
.cart {
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 23.8px;
  padding: 0px 15px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.cart .search_icon {
  margin-left: 27px;
}
.cart-left:hover,
.cart-right:hover,
.number-phone:hover,
.nav .nav-item > a:hover,
.dropdown .dropdown_item:hover > a {
  color: var(--light-red);
  cursor: pointer;
}
/* end header_top */

/* start header_bottom */

.header_bottom {
  margin: 0 auto;
  width: 120rem;
  height: auto;
}
.header_bottom .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item {
  font-size: 14px;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
}
.nav-item a {
  color: var(--black);
  font-weight: 500;
}
.dropdown {
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  min-width: 164px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451);
  transform: translate(-35px, 35px);
}
.dropdown_item {
  padding: 10px 5px;
  width: 230px;
}
.dropdown_item > a {
  color: var(--light-black);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align: left;
  text-transform: capitalize;
}
.dropdown_item:not(:last-child) {
  border-bottom: 1px solid var(--grey);
}
.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translate(-35px, 1px);
}
.dropdown .dropdown_item:hover {
  background-color: #dc4f3f06;
}
/* end header_bottom */

/* start slider */
#slider {
  position: relative;
  margin-top: 136px;
  height: 690px;
  width: 100%;
  z-index: -1;
}
.slider_gallery {
  overflow: hidden;
  width: 100%;
  height: 690px;
}
.slider_icon {
  font-size: 5rem;
  color: var(--black);
  background-color: var(--grey);
  border-radius: 50%;
  border: none;
}
.icon_left {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
.icon_right {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
/* end slider */
/* section */
.content {
  width: 100%;
  height: 100rem;
  /* background-color: #dc4e3f; */
}
.section {
  width: 1150px;
  margin: 0 auto;
  background-color: #dc4e3f;
}
.section_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--black);
}
.title_top {
  margin-top: 42px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 2.4px;
  line-height: 28px;
  text-transform: uppercase;
}
.title_bottom {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 23.8px;
  margin: 14px 0px 40px 0px;
  padding: 0px 5px 0px 0px;
}
.title_bottom span {
  color: #c7bfbf;
  margin: 0px 3px;
}
.section_product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  flex-wrap: wrap;
}
.section_product-card {
  width: calc((100% / 4)-10px);
  margin-left: 10px;
}
