* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(1, 1, 95);
}

.opacity-8 {
  opacity: 0.8;
}

.dp-pl {
  display: flex;
}

.mr-10 {
  margin-right: 10px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.text-center {
  text-align: center;
}

.color-black {
  color: #000;
}

.main{
    position: relative;
    margin-top: 50px;
    height: 100vh;
}

.container{
  width: 83%;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  left: 240px;
  bottom: 0px;
  border-radius: 5px;   
  overflow: auto;  
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar{
  width: 0 !important;
  display: none; 
}

.path {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 10px 16px 10px;
  box-shadow: 5px 10px rgb(147, 138, 138);
}

.text-path {
  text-decoration: none;
  margin-left: 20px;
  color: rgb(42, 22, 120);
  font-size: 13px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content-section {
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 5px 10px rgb(147, 138, 138);
  height: auto;
}

.heading-content {
  margin-left: 16px;
  margin-right: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 8px;
  border-bottom: 2px solid #c7e90a;
}

.create-btn {
  margin: 20px 0px 10px 10px;
  border-bottom: 2px solid rgb(151, 146, 146);
  padding-bottom: 12px;
}

.btn-item-sub {
  background-color: rgb(60, 208, 94);
  border-radius: 4px;
  padding: 3px;
  border: none;
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 10px;
}

.btn-item-sub:hover {
  background-color: #ff7b06;
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
}

.form__input {
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
}

.input-item {
  width: 25%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.region-input {
  background-color: rgb(239, 216, 216);
  border-radius: 3px;
  /* border: #1313312; */
  padding: 8px 7px;
  width: 70%;
}

.select-img {
  margin-top: 20px;
}

.text-input {
  margin: 4px;
  font-size: 13px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
}

.up-img-btn {
  margin-top: 5px;
  background-color: rgb(43, 6, 44);
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 2px;
}

.up-img-btn:hover {
  background-color: #ff7b06;
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
}

.describe_form {
  margin-top: 32px;
}

.describe-input {
  width: 100%;
  height: 150px;
  word-break: break-all;
  background-color: rgb(239, 216, 216);
  padding: 5px;
}

.select_end_btn {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.save-btn {
  margin-left: 5px;
  margin-right: 2px;
  background-color: aquamarine;
  border: none;
  border-radius: 2px;
  padding: 4px 6px;
}

.cancel-btn {
  background-color: tomato;
  border: none;
  border-radius: 2px;
  padding: 4px 6px;
}

.save-btn:hover,
.cancel-btn:hover {
  background-color: rgb(176, 205, 34);
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
  color: #fff;
}

.nav {
  color: #fff;
  width: 14%;
}

.avatar-img {
  margin-left: 50px;
}

.sub-text {
  margin-left: -32px;
  font-size: 14px;
  margin-bottom: 15px;
}

.avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  /* position: fixed;
    top: 50px;
    left: 70px; */
}

.nav-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-left: 10px;
}

.nav-list li {
  position: relative;
}

.nav-list .sub-product {
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 2px;
}

.sub-product li:hover {
  background-color: #000;
  border-radius: 2px;
  color: #000;
}

.nav-list .sub-product a {
  color: #fff;
  padding: 0 12px;
  line-height: 38px;
}

.sub-nav {
  padding: 21px 12px;
  height: 24px;
  background-color: rgb(1, 1, 95);
  display: inline-block;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.sub-product {
  display: none;
  list-style-type: none;
}

.sub-product a {
  text-decoration: none;
}

.nav-list li:hover .sub-product {
  display: block;
}

.sub-nav:hover {
  background-color: #ccc;
  /* display: block; */
}

.sub-nav-link {
  text-decoration: none;
  color: #fff;
}

.sign-out-btn {
  background-color: rgb(218, 218, 64);
  width: 64px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* top: 20px; */
  right: 20px;
  border-radius: 20px 0 0 20px;
  z-index: 1;
}

.sign-out-btn:hover {
  background-color: #000;
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
  color: #fff;
}

.tabs-list {
  float: left;
  border: none;
  /* background-color: #f1f1f1; */
  width: 100%;
  height: 300px;
}

.tabs-list button {
  display: block;
  background-color: inherit;
  color: #fff;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 4px;
}

.tabs-list button:hover {
  background-color: #ddd;
}

.tabs-list button.active {
  background-color: rgb(118, 20, 20);
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 250px;
}

.tabs-control {
}

.heading-account {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.list-form-account {
  margin-top: 80px;
}

.form-account {
  width: 60%;
  height: 15%;
  display: flex;
  margin: auto;
}

.account-item {
  box-shadow: 20px 20px 50px 10px pink inset;
  margin: 5px 7px;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
}

.account-item:hover {
  transform: scale(1.1);
}

.header-item {
  text-transform: uppercase;
}

.text-heading {
  display: flex;
  text-transform: uppercase;
}

.avatar-account {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 3px solid rgb(60, 53, 200);
}

.avatar-item{
    position: absolute;
}

.list-btn {
  border-bottom: 2px solid #c7e90a;
  padding: 8px 12px;
}

.btn-item {
  background-color: rgb(60, 208, 94);
  border-radius: 4px;
  padding: 8px 4px;
  border: none;
  font-weight: 600;
  font-size: 10px;
}

.btn-item:hover {
  background-color: #ff7b06;
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
}

th,
td {
  padding: 5px;
  border-style: solid;
  border-collapse: collapse;
}

table {
  width: 95%;
  border-style: solid;
  border-collapse: collapse;
}

.list-product {
  height: 100%;
}

/* Style for table */
.table-customize {
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #ccc inset;
}
.table-customize > thead > tr {
  background-color: #535353;
  border-radius: 3px 3px 0 0;
}
.table-customize > thead > tr > th {
  color: #fff;
  border-bottom: none;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.table-customize > thead > tr > th:first-child {
  border-radius: 3px 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.table-customize > thead > tr > th:last-child {
  border-radius: 0 3px 0 0;
}
.table-customize > tbody > tr > td {
  vertical-align: middle;
  padding: 15px 14px;
  color: #ccc;
  font-size: 14px;
  color: #000;
  border: 1px solid #ccc;
}

.table-border > tbody > tr:nth-child(-n + 3) > td:first-child {
  position: relative;
  font-size: 10px;
  font-weight: 700;
}
.table-border > tbody > tr:nth-child(-n + 3) > td:first-child span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 14px;
}
.table-border > tbody > tr td:first-child, .table-border > tbody > tr th:first-child {
  text-align: center;
}

th,
td {
  padding: 5px;
  border-style: solid;
  border-collapse: collapse;
}

table {
  width: 95%;
  border-style: solid;
  border-collapse: collapse;
}

.lable-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-weight: 700;
}

.lable-item input {
  margin-right: 77px;
}

.list-statistical {
  background-color: #fff;
  color: #000;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 2px;
}

.worked {
  font-size: 18px;
  padding: 5px;
}

.sub-worked {
  font-size: 12px;
  opacity: 0.8;
  margin-left: 5px;
}

.list-status {
  margin: 24px;
  display: flex;
  justify-content: space-around;
  padding-top: 12px;
}

.report-data {
  width: 248px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 15px;
}

.report-data:hover {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.04);
}

.amount-product {
  text-align: center;
  color: #2673dd;
}

.analisis-item {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.chart-layout {
  height: 250px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.chart-layout__item {
  width: 60px;
  color: #fff;
  text-align: center;
  height: var(--percent);
  background-color: #ef5122;
  margin-right: 1%;
}

.month {
  font-size: 14px;
  word-spacing: 29px;
  margin-left: 17px;
  margin-top: 10px;
}

.wrapper-home {
  display: flex;
  margin: 20px;
}

.access-item {
  display: flex;
}

.ratio-item {
  padding: 30px;
}

.count-number {
  font-weight: 700;
  font-size: 20px;
}
  /* mobile */
 @media only screen and (max-width: 739px) {
 
  .tabs-list {
    display: flex;
    height: 70px;
    margin-top: -61px;
  }

  .list-statistical{
    margin-left: 0;
    margin-right: 0;
    padding: 3px;
  }

  .ratio-item {
    padding: 14px;
  }

  .avatar-item{
    display: none;
  }

  .form-account {
    width: 100%;
  }

  .btn-item-sub{
    padding: 12px;
    font-size: 9px;
  }

  .row{
    display: block;
  }

  .input-item{
    width: 100%;
  }

  .region-input{
    width: 100%;
  }

  .describe-input {
    height: 75px;
  }

  .analisis-item {
    margin-left: 15px;
  }

  .btn-item{
    padding: 9px;
    margin: 2px;
  }

  .lable-item input {
    margin-right: -34px;
    border: 1px solid #000;
  }

  .lable-item {
    margin-right: 36px;
  }

  .wrapper-home{
    flex-direction: column;
  }

  .list-status{
    margin: 0;
  }

  .form-account{
   flex-direction: column;
  }

  .list-form-account{
    margin-left: -4%;
  }

/* table  */
.table-responsive,
.table-responsive thead,
.table-responsive tbody,
.table-responsive th,
.table-responsive td,
.table-responsive tr {
  display: block;
}
.table-responsive > thead > tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.table-responsive > tbody > tr {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #000;
}
.table-responsive > tbody > tr:first-child {
  border-radius: 3px 3px 0 0;
  border-top: none;
}
.table-responsive > tbody > tr:last-child {
  border-radius: 0 0 3px 3px;
  border-bottom: none;
}
.table-responsive > tbody > tr td {
  border: none;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-left: 45% !important;
  width: 100%;
  overflow: hidden;
}
.table-responsive > tbody > tr td:before {
  content: attr(data-title);
  position: absolute;
  top: 15px;
  left: 14px;
  width: 30%;
  padding-right: 10px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
}
.table-responsive > tbody > tr td:first-child {
  text-align: left;
}
.table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child {
  padding: 25px 0 25px 30% !important;
  background-position: left 32% center;
}
.table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child span {
  left: 32%;
}

}

/* tablet */
@media only screen and (min-width: 740px) and (max-width: 1024px) {

  .tabs-list {
    display: flex;
    height: 70px;
    margin-top: -61px;
}

  .list-statistical{
    margin-left: 0;
    margin-right: 0;
  }

  .region-input{
    padding: 14px 7px;
  }

  .btn-item-sub{
    padding: 14px;
    font-size: 14px;
  }

  .row{
    display: block;
  }

  .input-item{
    width: 100%;
  }

  .form-account{
    width: 55%;
  }

  
}

/*tablet and PC */
@media only screen and (max-width: 1024px) {
  table{
    width: auto;
  }

  .month{
    display: none;
  }

  
  .avatar-img{
    display: none;
  }

  .container{
    width: 100%;
    left: 0;
  }

}