:root {
  font-size: 62.5%;
  --black: #000;
  --light-red: #dc4e3f;
  --light-black: #1c1c1cca;
  --grey: #dddddd;
}

.font-icon {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
.active {
  color: var(--light-red);
}

/* start header */
#header {
  width: 100%;
  height: 13.6rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
}
#header .container {
  margin: 0 auto;
}

/* start header_top */
.header_top {
  margin: 0 auto;
  width: 120rem;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--grey);
  position: relative;
}
#toggle {
  display: none;
}
.header_top-text {
  height: 100%;
  width: 39rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_top .hotline {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}
.header_top .number-phone {
  text-decoration: none;
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
}
.cart {
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 23.8px;
  padding: 0px 15px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.cart .search_icon {
  margin-left: 27px;
}
.cart-left:hover,
.cart-right:hover,
.number-phone:hover,
.nav-item:hover .nav_item-title a,
.nav-item:hover .nav_item-title .nav_icon,
.dropdown .dropdown_item:hover > a {
  color: var(--light-red);
  cursor: pointer;
}
/* end header_top */

/* start header_bottom */

.header_bottom {
  margin: 0 auto;
  width: 120rem;
  height: auto;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item {
  cursor: pointer;
  font-size: 14px;
  padding: 13px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.nav-item a {
  color: var(--black);
  font-weight: 500;
}
.dropdown {
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  min-width: 164px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451);
  transform: translate(-35px, 35px);
}

.dropdown_item {
  display: flex;
  width: 230px;
}
.dropdown_item > a {
  flex: 1;
  color: var(--light-black);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align: left;
  text-transform: capitalize;
  padding: 10px 5px;
  padding-right: 20px;
}
.dropdown_item:not(:last-child) {
  border-bottom: 1px solid var(--grey);
}
.nav-item_has-children {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .nav-item_has-children:hover .dropdown {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transform: translate(-35px, 6.5px);
  }
}

.dropdown .dropdown_item:hover {
  background-color: #dc4f3f06;
}

/* end header */

/* start blog_header */
.header_blog {
  position: relative;
  margin-top: 13.6rem;
  background: url("../TOP/img/header_blog/header_blog.png") no-repeat fixed;
  width: 100%;
  height: 36.5rem;
}
.header_blog-container {
  /* background: url("./img/header_blog/header_blog.png") no-repeat fixed center; */
  width: 100%;
  height: 100%;
}
.header_blog-image {
  width: 100%;
  object-fit: cover;
}
.header_blog-content {
  position: absolute;
  top: 50%;
  left: 15%;

  text-align: left;
}
.header_blog-title {
  transform: translatey(-50%);
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 2.4px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
}

/* end blog_header */

/* start content */
#content {
  margin-bottom: 8rem;
}
.content_container {
  max-width: 75%;
  width: auto;
  margin: 3rem auto 0;
}

/* start sort cate */
.sort_cate {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f5f5f5;
  margin-top: 5px;
}
.sort_cate-title {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.14px;
  line-height: 19.6px;
  margin: 2px 0px 0px;
  text-transform: capitalize;
}
.sort_cate-list {
  display: flex;
  align-items: center;
}
.sort_cate-item {
  margin-left: 1.5rem;
}
.sort_cate-icon {
  color: var(--grey);
  transition: all 0.2s linear;
  cursor: pointer;
  padding-right: 3px;
}
.sort_cate-link {
  text-transform: capitalize;
  color: #000;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  line-height: 19.6px;
}
.sort_cate-item:hover .sort_cate-icon {
  color: var(--light-red);
}

.sort_cate-item.active i {
  color: var(--light-red);
}

/* end sort cate */

.active {
  color: red;
}
.active_next-page {
  background-color: var(--light-red);
}
/* start product_card */
.section_product {
  margin-top: 1.5rem;
  display: flex;

  align-items: center;
  margin-left: -2.5rem;
  flex-wrap: wrap;
  cursor: pointer;
}
.section_product-card {
  width: calc((100% / 3) - 2.5rem);
  margin-left: 2.5rem;

  transition: all 0.5s linear;
}

.flip-card {
  max-width: 100%;
  height: 29.3rem;
  perspective: 150rem;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card .front,
.flip-card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card .back {
  transform: rotateY(180deg);
}

.flip-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transform: translateX(2rem); */
}

.front::after,
.back::after {
  content: "New Arrival";
  width: 95px;
  height: 20px;
  background-color: #410a99;
  color: white;
  padding: 2px;
  position: absolute;
  left: 0;
  top: 2%;
  text-align: center;
  line-height: 20px;
}
.best_seller::after {
  content: "Best seller";
  width: 95px;
  height: 20px;
  background-color: #410a99;
  color: white;
  padding: 2px;
  position: absolute;
  left: 0;
  top: 2%;
  text-align: center;
  line-height: 20px;
}
.hot::after {
  content: "Hot";
  width: 95px;
  height: 20px;
  background-color: #410a99;
  color: white;
  padding: 2px;
  position: absolute;
  left: 0;
  top: 2%;
  text-align: center;
  line-height: 20px;
}

.product_card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product_card-series {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #c7bfbf;
}
.product_card-title {
  margin: 12px 0px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
}
.product_card-price {
  font-size: 14px;
  font-weight: 500;
}
.btn_detail {
  transition: all 0.5s ease-in-out;
  background: #fff;
  display: block;
  height: 37px;
  padding: 5px;
  font-size: 14px;
  color: #000;
  border: 1px solid #000;
  text-align: center;
  line-height: 21px;
  /* transform: translateY(10px); */
  opacity: 0;
  visibility: hidden;
}
.btn_detail:hover {
  background-color: #000;
  color: #fff;
}
.section_product-card:hover .product_card-content {
  visibility: hidden;
  opacity: 1;
}
.section_product-card:hover .btn_detail {
  transform: translateY(-6rem);
  visibility: visible;
  opacity: 1;
}
/* end product_card */

/* next_page */
.next_page,
.next_page-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next_page-item {
  background-color: var(--black);
  display: flex;
  border-radius: 5px;
  transition: all 0.2s linear;
  overflow: hidden;
}
.next_page-item:hover {
  background-color: var(--light-red);
}
.next_page-item:not(.next_page-item:first-child) {
  margin-left: 5px;
}

.next_page-link {
  padding: 5px 10px;
  flex: 1;
  color: #fff;
}
.next_page-icon {
  font-size: 11px;
}
/* end next_page */

/*end content */

/* start_footer */

/* .mt--60 {
  margin-top: -60px;
} */
.footer {
  background-color: #f9f9f9;
  margin-top: 30px;
  bottom: 0;
  /* position: fixed; */
  width: 100%;
  position: relative;
  /* z-index: -1;  */
}

.container-footer {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  color: #1c1c1c;
}

.row-footer {
  padding-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  width: 90%;
  justify-content: center;
}

.logo-footer {
  width: 25%;
}

.img-footer {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 13px;
  padding-bottom: 13px;
}

.img-item {
  max-height: 60px;
}

.logo-number {
}

.logo-item {
  display: flex;
  margin-bottom: 7px;
  font-size: 13px;
  /* letter-spacing: 1px; */
}

.logo-text {
  color: #1c1c1c;
  font-weight: 700;
  padding-left: 20px;
  margin-bottom: 7px;
  line-height: 1.5;
}

.contact-hover:hover {
  color: #dc4e3f;
}

.address-footer {
}

.icon_address {
  color: #00a885;
}

.course-footer {
  max-height: 136px;
}

.course-heading {
  padding-left: 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 8px;
}

.input-footer {
  display: flex;
  flex-direction: column;
}

.input-heading {
  padding-left: 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 13px;
  padding-bottom: 13px;
}

.input_email {
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  background: #f0f0f0;
  margin-bottom: 8px;
  border: 1px solid transparent;
  padding: 0 10px;
  font-size: 12px;
  margin-left: 20px;
}

.btn_footer {
  display: inline-block;
  height: 40px;
  background: #000;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  border: 1px solid #000;
  overflow: hidden;
  padding: 12px 13px;
  width: 100%;
  margin-left: 20px;
}

.btn_footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  transition: width 0.2s linear;
  z-index: -1;
}

.btn_footer:hover {
  color: #000;
}

.btn_footer:hover::before {
  width: 100%;
}

.footer-payment {
  margin-top: 20px;
}

.list-payment {
  display: flex;
  justify-content: space-around;
}

.item-payment {
}

.sapo-footer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.text-sapo {
  font-size: 13px;
  font-weight: 550;
}

.content-sapo {
}

.sapo {
  color: #000;
}

.sapo:hover {
  color: #dc4e3f;
}
/* end_footer */
/* end_footer */

@media screen and (max-width: 1199px) {
  #header .container {
    margin: 0 auto;
  }
  .header_top {
    width: 90rem;
  }
  .header_bottom {
    width: 90rem;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .content_container {
    max-width: 85%;
  }
}

@media screen and (max-width: 1023px) {
  .nav_icon {
    height: 20px;
  }
  #header {
    height: auto;
  }
  #header .container {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
  .header_top {
    border-bottom: none;
    height: auto;
    padding: 7px 0;
    width: 100%;
    justify-content: space-around;
  }
  .header_top .text {
    display: none;
  }
  .header_bottom {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 51px;
    visibility: hidden;
    transition: visibility 0.5s ease-in;
  }

  .header_active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.142);
  }
  .nav {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    flex-direction: column;
    align-items: flex-start;
    width: 30rem;
    height: 100%;
    background: #fff;
    justify-content: flex-start;
  }
  .nav-item {
    width: 100%;
    border-bottom: 1px solid var(--grey);
    padding: 0;
  }
  .nav-item:first-child,
  .dropdown_item:first-child {
    border-top: 1px solid var(--grey);
  }

  .nav_item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item a {
    flex: 1;
    font-size: 13px;
    padding: 10px 10px;
  }
  .nav_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 39px;
  }
  .dropdown {
    width: 100%;
    top: 0;
    left: 0;
    transform: none;
    position: relative;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    max-height: 0;
    overflow: hidden;
  }
  .dropdown_item {
    width: 100%;
  }

  .dropdown_item > a {
    padding: 10px 38px;
  }

  #toggle {
    display: block;
    padding: 5px;
    cursor: pointer;
  }
  .nav_active {
    transform: translateX(0%);
  }
  .dropdown_active {
    max-height: none;
    overflow: visible;
  }
  .cart-text {
    display: none;
  }
  .header_blog {
    margin-top: 5.1rem;
  }
  .flip-card {
    height: 23.3rem;
  }
  .product_card-price,
  .product_card-title,
  .product_card-price {
    font-size: 12px;
  }
  .logo-footer {
    width: 50%;
  }
  .container-footer {
    width: 100%;
  }
}
@media screen and (max-width: 740px) {
  .header_top {
    height: 51px;
  }
  #toggle {
    padding: 5px;
    font-size: 18px;
  }
  .logo {
    max-width: 12rem;
  }
  .cart .search_icon {
    margin-left: 18px;
  }
  .section_product-card {
    width: calc((100% / 2) - 2.5rem);
  }
  .sort_cate {
    display: none;
  }
  .content_container {
    max-width: 95%;
  }
  .logo-footer {
    width: 100%;
  }
  .container-footer {
    width: 100%;
  }
}
